* {
    background-color:darkslategray;
    font-family:cursive;
    margin: 0; 
    box-sizing: border-box;
    color: aliceblue;
    
}

body {
    background-color: darkslategray;
}

.title {
    border-bottom: 3px solid darkslategray;
    
}

.info-box {
        width: 600px;
        background: red;
        border-radius: 5px;


}

.info-box .info-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: auto;
    text-align: center;
    justify-content: center;
    font-weight: 300;
    border-bottom: 10px solid darkslategray;
    height: 75px;
}

.start {
    display: block;
}


    



